body, html {
    width: 100%;
    height: 100%;
    background-color: #222;
}

.content {
    width: 100%;
    height: 100%;

}

/* stage -- start */
.stage {
    position: relative;

    width: 100%;
    height: 680px;
}

/* stage -- end */

/* image -- start */
.img-sec {
    position: relative;

    width: 100%;
    height: 100%;
    overflow: hidden;

    background-color: #dddddd;

    perspective: 1800px;//3d动画效果，值越小对用户视觉效果越明显

    @at-root {
        .img-figure {
            position: absolute;

            width: 320px;
            height: 360px;
            margin: 0;
            padding: 40px;

            background-color: #fff;

            box-sizing: border-box;
            cursor: pointer;

            //设置变形的原点 x, y ,z, 默认是中心点 
            transform-origin: 0 50% 0;
            transform-style: preserve-3d;
            /* 定义动画参数
             * transform .6s ease-in-out： 如果transform发生了变化，在0.6秒会有个动画效果 - 相片翻转时候
             * left .6s ease-in-out：当元素left值发生变化时候，会在0.6秒发生动画 - 相片开场布局位置的时候
             * top .6s ease-in-out：当元素top值发生变化时候，会在0.6秒发生动画 - 相片开场布局位置的时候
             */
            transition: transform .6s ease-in-out, left .6s ease-in-out, top .6s ease-in-out;
            //点击后翻转
            &.is-inverse {
                /*
                translate(x, y) 参数为：根据x轴和y轴重新定位元素位置，只传一个参数代表只位移x轴320px
                */
                transform: translate(320px) rotateY(180deg);
            }
        }

        .img {
            width: 240px;
            height: 240px;
            object-fit:cover;
            object-position:center;
        }

        figcaption {
            text-align: center;

            .img-title {
                margin: 20px 0 0 0;
                
                color: #a7a0a2;
                font-size: 16px;
            }

            .img-back {
              position: absolute;
              top: 0;
              left: 0;

              width: 100%;
              height: 100%;
              padding: 50px 40px;
              overflow: auto;

              color: #a7a0a2;
              font-size: 22px;
              line-height: 1.25;
              text-align: left;

              background-color: #fff;

              box-sizing: border-box;
              //让div翻转到背面
              transform: rotateY(180deg) translateZ(1px);
              backface-visibility: hidden; //属性指定当元素背面朝向观察者时是否可见

              p {
                margin: 0;
                word-wrap:break-word;
              }
            }
        }
    }
}
/* iamge -- end */

/* controller -- start */
.controller-nav {
    position: absolute;
    left: 0;
    bottom: 30px;
    z-index: 101;

    width: 100%;
    text-align: center;
}
/* controller -- end */